@use 'variables' as *;
@use 'common';

* {
  margin: 0;
  padding: 0;
}
.view-content {
  @include flex-column;
  gap: $spacing-md;
  width: 414px;

  .title {
    font-size: 36px;
    line-height: 49px;
    color: $gray-font-color;
    width: 100%;
  }

  .text {
    font-size: 16px;
    line-height: 22px;
    color: $gray-font-color;
  }

  .row {
    height: 82px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 27px;

    &.red {
      color: $red;
    }
    &.green {
      color: $green;
    }
    &.blue {
      color: $blue;
    }
  }

  .logout-button {
    @extend .button;
  }
}
