@import 'variables';
@import 'common';

.login-container {
  @include flex-column;
  align-items: flex-start;
  gap: $spacing-xxxl;
  width: 414px;
}

.header-text {
  @include flex-column;
  gap: $spacing-xs;
}

.title {
  font-size: 36px;
  line-height: 49px;
  color: $gray-font-color;
  margin: 0;
}

.subtitle {
  font-size: 16px;
  line-height: 22px;
  color: $gray-font-color;
  margin: 0;
}

.form {
  @include flex-column;
  gap: $spacing-xxl;
  width: 100%;
}

.form-group {
  @include flex-column;
  gap: $spacing-xs;
}

.input-label {
  width: 100%;
  font-size: 14px;
  line-height: 19px;
  color: $light-gray-font-color;
}

.input-field {
  @include input-style;
}

.options {
  @extend .flex-row;
  justify-content: space-between;
  align-items: center;
}

.remember-me {
  @extend .flex-row;
  align-items: center;
  gap: $spacing-sm;
  font-size: 12px;
  line-height: 16px;
  color: $lighter-gray-font-color;
  cursor: pointer;

  .checkbox {
    width: 12px;
    height: 12px;
    accent-color: $purple;
    outline: none;
    cursor: pointer;
  }
}

.forgot-password {
  font-size: 12px;
  line-height: 16px;
  color: $purple;
  text-decoration: none;
}

.login-button {
  @extend .button;
}

.signup {
  @extend .flex-row;
  gap: $spacing-md;

  &-prompt {
    font-size: 14px;
    line-height: 19px;
    color: $light-gray-font-color;
  }

  &-link {
    font-size: 14px;
    line-height: 19px;
    color: $purple;
    text-decoration: none;
  }
}