$background-color: #FFE6C9;
$gray-font-color: #525252;
$light-gray-font-color: #828282;
$border-color: #DED2D9;
$placeholder-color: #E0E0E0;
$lighter-gray-font-color: #A1A1A1;
$purple: #7F265B;

$font-family: 'Nunito Sans', sans-serif;